@font-face {
  font-family: 'Archangelsk';
  src: url('./fonts/ofont.ru_Archangelsk.woff2') format('woff2'); 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'); 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2'); 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
    
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
 */
img {
    display: block;
    max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
  --color-yellow: #f8f200;
  --color-light: #fff;
  --color-dark: #000;
  --color-gray: #777;

  --main-padding-block: 70px;
  --main-padding-inline: 320px; 

  --font-family-accent: 'Archangelsk', 'sans-serif';
  --font-family-base: 'Roboto';

  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-size: 18px;
  line-height: 1.89;
  width: 100%;

}

body::after {
  content:
      url('./images/Slide_1.jpg')
      url('./images/Slide_2.jpg')
      url('./images/header-background.jpg')
  ;
  display: none;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-inline: 36px;
  position: relative;
  background-image: url(./images/header-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: animate 12s infinite;
  animation-delay: 2s;
}

@keyframes animate {
  0% {
    background-image: url(./images/header-background.jpg);
  }
  33% {
    background-image: url(./images/Slide_1.jpg);
  }
  66% {
    background-image: url(./images/Slide_2.jpg);
  }
  100% {
    background-image: url(./images/header-background.jpg);
  }
}

.header-top-bar {
  display: flex;
  max-width: 1280px;
  width: 100%;
  padding-top: 20px;
  margin-inline: auto;
  column-gap: 15px;
  align-items: center;
  justify-content: space-between;
  
}

.header-logo {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.header-menu-link {
  display: inline-flex;
  height: 60px;
  align-items: center;
}

.header-menu-link:hover {
  scale: 1.1;
}


.container {
  display: flex;
  justify-content: flex-end;
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
}

.accessibility {
  scale: 0.8; 
  margin-bottom: -39px; 
  display: flex;
  width: 624px;
  height: 369px;
  background-color: var(--color-yellow);
  clip-path: polygon(0% 15%, 10% 0%, 100% 0%, 100% 85%, 90% 100%, 0% 100%);
  padding-inline: 70px;
  padding-top: 70px;
  flex-direction: column;
  align-items: center;
}

.accessibility-text {
  font-family: var(--font-family-accent);
  font-size: 62px;
  line-height: 1;
}

.accessibility-link {
  display: inline-block;
  font-size: 24px;
  font-family: var(--font-family-base);
  text-decoration: none;
  font-weight: 700;
  color: var(--color-yellow);
  background-color: var(--color-dark);
  padding-inline: 50px;
  padding-block: 19px;
  margin-top: 25px;
  align-self: start;
}

.night-city {
  display: flex;
  min-height: 100vh;
  padding-inline: 36px;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}


.city-changes {
  font-family: var(--font-family-accent);
  font-size: 50px;
  line-height: normal;
  
}

.cyberpunk2077 {
  color: #777777;
  font-size: 18px;
  line-height: 1.89;
  margin-top: 18px;
  text-align: left;
  max-width: 952px;
  margin-bottom: 70px;
}

.term {
  font-weight: bold;
  color: #52BEDC;
}

.images-block {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  column-gap: 32px;
  
}

.images-block-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-divider {
  width: 100%;
  object-fit: cover;
}

.play-and-win {
  background-color: var(--color-dark);
  padding-top: var(--main-padding-block);
  padding-inline: 36px;
  
  min-height: 100vh;
  
}

.play-and-win-content {
  max-width: 952px;
  display: flex;
  margin-inline: auto;
  flex-wrap: wrap;
  column-gap: 120px;
}

.play-and-win-text {
  max-height: 30px;
  margin-bottom: 250px;
  
}
.play-and-win-title {
  font-size: 50px;
  line-height: normal;
  color: var(--color-light);
  font-family: var(--font-family-accent);
  font-weight: 400;
}

.play-and-win-description {
  color: var(--color-light);
  font-size: 18px;
  line-height: 1.89;
  margin-top: 39px;

}

.play-and-win-form {
  width: 360px;
  margin-bottom: 50px;
}

.play-and-win-input {
  display: block;
  width: 100%;
  background-color: var(--color-dark);
  border: none;
  border-bottom: 1px solid var(--color-gray);
  color: var(--color-light);
  font-size: 18px;
  outline: none;
  font-weight: 300;
  padding-bottom: 13px;
  margin-bottom: 35px;
}

.play-and-win-input::placeholder {
  font-size: 18px;
  font-family: var(--font-family-base);
  color: var(--color-light);
  font-weight: 300;
  line-height: normal;
}

.play-and-win::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 18px;
  font-family: var(--font-family-base);
  color: var(--color-light);
  font-weight: 300;
  line-height: normal;
}

.play-and-win::-moz-placeholder { /* Firefox 19+ */
  font-size: 18px;
  font-family: var(--font-family-base);
  color: var(--color-light);
  font-weight: 300;
  line-height: normal;
}

.file {
  display: none;
}

.custom-file-upload {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  width: 100%;
  cursor: pointer;
  background-color: var(--color-dark);
  color: white;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
  border: 1px dashed var(--color-gray);
  height: 120px;
}

.screenshot-formats {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
}

.submit-button {
  display: block;
  color: var(--color-dark);
  font-size: 18px;
  font-weight: 700;
  padding-inline: 50px;
  padding-block: 15px;
  background-color: var(--color-yellow);
  margin-top: 35px;
  margin-bottom: 15px;
  border: none;
}

.submit-button:hover {
  box-shadow: 0px 0px 3px var(--color-dark) inset;
}

.submit-button:active {
  scale: 0.99;
}

.checkbox {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  user-select: none;
  height: 14px;
  
}

.checkbox-control:not(:checked) + .checkbox-emulator::after {
  display: none;
}

.checkbox-emulator {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-light);
  background-color: var(--color-dark);
  
}

.checkbox-emulator::after {
  content: "𐄂";
  position: absolute;
  top: -10px;
  left: 2.5px;
  color: var(--color-yellow);
}

.checkbox-label-emulator {
  color: var(--color-light);
  font-size: 14px;
  font-weight: 300;

}

.ps-xbox {
  display: inline-flex;
  column-gap: 32px;   
}

.xbox-image, .playstation-image {
  position: relative;
  z-index: 200;
}

.full-diving {
  width: 100%;
  background-color: var(--color-yellow);
  padding-top: var(--main-padding-block);
  padding-bottom: 35px;
  
}

.full-diving-content {
  display: flex;
  max-width: 952px;
  justify-content: center;
  margin-inline: auto;
  column-gap: 32px;
}

.left-block {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
  
}

.hp-monitor {
  justify-self: center;
}

.hp-cyberpunk {
  display: inline-flex;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
}

.text-block {
  max-width: 460px;
  flex-shrink: 0;
}

.full-diving-title {
  font-size: 50px;
  line-height: normal;
  color: var(--color-dark);
  font-family: var(--font-family-accent);
  font-weight: 400;
  margin-bottom: 39px;
}

.full-diving-description {
  font-size: 18px;
  margin-bottom: 31px;
}

.hp-advantages {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
}

.more-link {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  padding-inline: 50px;
  padding-block: 15px;
  background-color: var(--color-dark);
  color: var(--color-yellow);
  text-decoration: none;
  margin-top: 42px;
}



@media (max-width: 1028px) {
  .accessibility {
    scale: 0.6;
    margin-bottom: -75px;
  }

  .images-block {
    row-gap: 26px;
    width: 100%;
    justify-content: center;
    flex-grow: 1;
  }

  .first-block-images {
    width: 47.5%;
    height: 100%;
  }

  .big-image {
    width: 100%;
    object-fit: cover;
  }

  .images-block-left {
    flex-direction: row;
    column-gap: 26px;
    width: 100%;
    justify-content: space-between;
  } 

  .play-and-win {
    justify-content: center;
    
  }

  .screenshot-formats {
    display: none;
  }

  .play-and-win-text {
    max-height: 100%;
  }

  .ps-xbox {
    display: none;
  }

  .play-and-win-form {
    width: 100%;
    margin-top: -150px;
  }
  
  /*Reducing background animation*/
  .header {
    animation: none;
  }

  .checkbox-emulator::after {
    scale: 1.1;
    top: -7px;
  }

  .full-diving-content {
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: center;
  }

  .hp-monitor {
    margin-bottom: 25px;
  }

  
}

@media (max-width: 767px) {
  .header {
    padding-top: 12px;
    padding-inline: 0;
  }

  .header-top-bar {
    padding-top: 0;
    flex-direction: column;
    margin-inline: auto;
    justify-content: center;
    gap: 10px;
  }

  .header-logo {
    width: 200px;
    height: 50px;
  }

  .header-menu-item {
    width: 20px;
    height: 20px;
    flex-grow: 1;
  }

  .accessibility {
    width: 320px;
    height: 207px;
    padding-top: 30px;
    padding-inline: 13px;
    margin: 0;
    text-align: center;
    scale: 1;
  }

  .accessibility-text {
    font-size: 30px;
  }

  .accessibility-link {
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
    margin-inline: auto;

  }  

  .night-city {
    padding-inline: 0;
  }

  .information-block {
    margin-inline: 10px;
  }

  .city-changes {
    font-size: 30px;
  }

  .cyberpunk2077 {
    font-size: 16px;
    line-height: 2;
  }

  .images-block {
    flex-direction: column;
    row-gap: 32px;
  }

  .first-block-images {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .images-block-left {
   
    row-gap: 32px;
    flex-direction: column;
  }

  .play-and-win-title {
    font-size: 30px;
  }

  .play-and-win-text, .term, input::placeholder {
    font-size: 16px !important;
  }

  .full-diving-content {
    font-size: 16px;
    padding-inline: 12px;
  }

  .left-block {
    align-items: center;
  }

  .text-block {
    width: 100%;
  }

  .hp-monitor {

    width: 218px;
    height: 150px;
  }

  .hp-logo {
    flex-shrink: 1;
    max-width: 32px;
    aspect-ratio: 1;
  }

  .crossing-lines {
    flex-shrink: 1;  
    max-width: 37px;
    max-height: 7px;
  }

  .cyberpunk-logo {
    flex-shrink: 1;    
    max-width: 129px;
    max-height: 32px;
  }

  .full-diving-title {
    font-size: 30px;
  }

  .more-link {
    font-size: 16px;
  }


}